DB_NAME=project26_v1
DB_PORT=3306
DB_USERNAME=project26_v1
DB_PASSWORD=

TEST_DB_NAME=project26_v1_test
TEST_DB_PORT=3306
TEST_DB_USERNAME=project26_v1_test
TEST_DB_PASSWORD=

GMAIL_USERNAME=
GMAIL_PASSWORD=

JWT_SECRET=lrglp9p4vqwert2891g
# 15 分鐘
JWT_ACCESS_TOKEN_SECONDS=900
# 10,080 分鐘（= 7 天）
JWT_REFRESH_TOKEN_SECONDS=604800